*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --grid-line-color: #e7e7e7;
}

html{
    
}

body {
    background-color: #333;

}

main{
    display: flex;
    flex-direction: column;
}

.calendar-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.calendar-container .month-label{
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.calendar-container .week-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: floralwhite;
    border-top: solid 1px floralwhite;
    font-size: 0.8rem;
    /*border-left: solid 1px #333;
    border-right: solid 1px #333;*/
}
.calendar-container .week-days div{
    padding: 2px;
    text-align: center;
    background-color: #333;
}
.calendar-container .month-grid-container {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.calendar-container .month-grid-container .month-grid {
    flex: 0 0 auto;
    width: 100%;
    /*border: solid 1px #333;*/
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    scroll-snap-align: center;
}
.calendar-container .month-grid-container .month-grid .month-grid-day{
    padding: 3px;
    background-color: floralwhite;
    position: relative;
    color: gray;
}

.calendar-container .month-grid-container .month-grid .month-grid-day .month-grid-day-label{
    font-size: 0.6rem;
    border: solid 1px #ddd;
    border-radius: 50%;
    padding: 2px;
}
.calendar-container .month-grid-container .month-grid .month-grid-day .dom{
    border: solid 1px red;
    color: red;
}
@media only screen and (orientation: portrait){
    .calendar-container .month-grid-container .month-grid .month-grid-day .appointment{
        width: 100% !important;
        left: 0 !important;
    }
}
@media only screen and (orientation: landscape){
    .calendar-container .month-grid-container .month-grid .month-grid-day .appointment{
        height: 100% !important;
        top: 0 !important;
    }
}
.calendar-container .month-grid-container .month-grid .month-grid-day .appointment{
    position: absolute;
    background-color: rgba(60, 0, 0, 0.5);
}